body {
    background-color:#4E7DBB;
    color: white;
    height: 300px;
    width: 150px;

}
.card {
background-color:#4E7DBB;
color: white;


}

.info {
    font-size: 8px;
}


a {
    color: violet;
}

h3 {
    font-size:13px
}

button {

    outline: none;
    margin: 10px;
    border: none;
    border-radius: 2px;
  }
  
.status {
    width: 150px;
    font-size: 13px;
}